---
interface Props {
  href: string;
  // Root
  rootBase?: string;
  rootBg?: string;
  rootSpaceY?: string;
  rootRest?: string;
  // Title
  titleBase?: string;
  titleRest?: string;
  // Article
  articleBase?: string;
  articleRest?: string;
  // Footer
  footerBase?: string;
  footerRest?: string;
}

const {
  href,
  // Root
  rootBase = "card",
  rootBg = "bg-slate-800",
  rootSpaceY = "space-y-2",
  rootRest,
  // Title
  titleBase = "h2",
  titleRest,
  // Article
  articleBase,
  articleRest,
  // Footer
  footerBase = "border-t border-white/10 pt-2",
  footerRest,
} = Astro.props;
---

<a {href} class:list={[rootBase, rootBg, rootSpaceY, rootRest]}>
  <!-- Title -->
  <Fragment slot="title">
    <h2 class:list={[titleBase, titleRest]}><slot name="title" /></h2>
  </Fragment>
  <!-- Article -->
  <Fragment slot="article">
    <article class:list={[articleBase, articleRest]}>
      <slot name="article" />
    </article>
  </Fragment>
  <!-- Footer -->
  <Fragment slot="footer">
    <footer class:list={[footerBase, footerRest]}>
      <slot name="footer" />
    </footer>
  </Fragment>
</a>
