---
interface Props {
  href: string;
  // Root
  base?: string;
  bg?: string;
  spaceY?: string;
  classes?: string;
  // Title
  titleBase?: string;
  titleClasses?: string;
  // Article
  articleBase?: string;
  articleClasses?: string;
  // Footer
  footerBase?: string;
  footerClasses?: string;
}

const {
  href,
  // Root
  base = "card",
  bg = "bg-slate-800",
  spaceY = "space-y-2",
  classes = "",
  // Title
  titleBase = "h2",
  titleClasses = "",
  // Article
  articleBase = "",
  articleClasses = "",
  // Footer
  footerBase = "border-t border-white/10 pt-2",
  footerClasses = "",
} = Astro.props;
---

<a {href} class:list={[base, bg, spaceY, classes]}>
  <!-- Title -->
  <Fragment slot="title">
    <h2 class:list={[titleBase, titleClasses]}><slot name="title" /></h2>
  </Fragment>
  <!-- Article -->
  <Fragment slot="article">
    <article class:list={[articleBase, articleClasses]}>
      <slot name="article" />
    </article>
  </Fragment>
  <!-- Footer -->
  <Fragment slot="footer">
    <footer class:list={[footerBase, footerClasses]}>
      <slot name="footer" />
    </footer>
  </Fragment>
</a>
