---
import LayoutRoot from "@layouts/LayoutRoot.astro";

const componentsList = [
  { href: "/components/cards", label: "Cards" },
  { href: "/components/accordions", label: "Accordions" },
];
---

<!-- prettier-ignore -->
<LayoutRoot title="Homepage" classList="p-10 space-y-10">

    <h1 class="h1">Skeleton Next (v3)</h1>

    <hr class="hr" />

    <!-- Browse -->
    <nav class="grid grid-cols-2 gap-4">

      {componentsList.map((c) => (
        <a class="card bg-slate-800 !py-10 text-center" href={c.href}>{c.label}</a>
      ))}
    </nav>

</LayoutRoot>
