---
import LayoutRoot from "@layouts/LayoutRoot.astro";

const componentsList = [
  { href: "/components/card", label: "Cards" },
  // { href: "/components/foo", label: "Foo" },
];
---

<!-- prettier-ignore -->
<LayoutRoot title="Homepage" classList="p-10 space-y-10">

    <h1 class="h1">Skeleton Next (v3)</h1>

    <hr class="block bg-white/10 border-0 h-[1px]" />

    <!-- Browse -->
    <nav class="grid grid-cols-3 gap-4">

      {componentsList.map((c) => (
        <a class="bg-slate-800 hover:bg-slate-700 p-4 py-10 text-center" href={c.href}>{c.label}</a>
      ))}
    </nav>

</LayoutRoot>
