---
import LayoutRoot from "@layouts/LayoutRoot.astro";
// Components
import PreviewSvelte from "./Preview.svelte";
---

<!-- prettier-ignore -->
<LayoutRoot title="Homepage" classList="p-10 space-y-10">

    <header class="space-y-4">
        <a href="/">&larr; Go back</a>
        <h1 class="h1">Accordions</h1>
    </header>

    <hr class="block bg-white/10 border-0 h-[1px]" />

    <!-- Elements -->
    <!-- <section class="space-y-4">
      <h2 class="h2">Elements</h2>
      <p>(element)</p>
    </section> -->

    <!-- Components -->
    <section class="space-y-4">
      <h2 class="h2">Components</h2>

      <!-- Svelte -->
      <h3 class="h3 pb-4">Svelte</h3>
      <PreviewSvelte client:load />

      <!-- React -->
      <h3 class="h3">React</h3>
      <p>(component)</p>

  </section>

</LayoutRoot>
